:root { 
--gray_600_33:#71717133; 
--pink_300_4c:#ff4fa74c; 
--gray_50_01:#f8f8f8; 
--gray_50:#fff7fa; 
--black_900_01:#000000; 
--black_900:#101010; 
--gray_900_4c:#1e1e1e4c; 
--blue_gray_900:#1c274c; 
--pink_300:#d774a3; 
--pink_100:#ffaed6; 
--purple_50:#f1caff; 
--gray_600:#7e7e7e; 
--pink_50:#ffd7eb; 
--gray_400:#afafaf; 
--gray_600_01:#a74e75; 
--blue_gray_100:#d9d9d9; 
--gray_500:#a7a7a7; 
--blue_gray_100_33:#cecece33; 
--gray_900:#1e1e1e; 
--gray_300:#dadada; 
--gray_100:#f2f2f7; 
--deep_purple_50:#eee2ff; 
--gray_500_33:#a4a4a433; 
--gray_100_00:#f5f5f500; 
--white_A700:#ffffff; 
}